# [Escuela]

In [0]:
USE [master]
GO

In [0]:
/****** Object:  Database [Escuela]    Script Date: 28/9/2024 15:44:09 ******/
CREATE DATABASE [Escuela]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Escuela', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Escuela.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Escuela_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Escuela_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
ALTER DATABASE [Escuela] SET COMPATIBILITY_LEVEL = 150
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Escuela].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER DATABASE [Escuela] SET ANSI_NULL_DEFAULT OFF 
GO
ALTER DATABASE [Escuela] SET ANSI_NULLS OFF 
GO
ALTER DATABASE [Escuela] SET ANSI_PADDING OFF 
GO
ALTER DATABASE [Escuela] SET ANSI_WARNINGS OFF 
GO
ALTER DATABASE [Escuela] SET ARITHABORT OFF 
GO
ALTER DATABASE [Escuela] SET AUTO_CLOSE OFF 
GO
ALTER DATABASE [Escuela] SET AUTO_SHRINK OFF 
GO
ALTER DATABASE [Escuela] SET AUTO_UPDATE_STATISTICS ON 
GO
ALTER DATABASE [Escuela] SET CURSOR_CLOSE_ON_COMMIT OFF 
GO
ALTER DATABASE [Escuela] SET CURSOR_DEFAULT  GLOBAL 
GO
ALTER DATABASE [Escuela] SET CONCAT_NULL_YIELDS_NULL OFF 
GO
ALTER DATABASE [Escuela] SET NUMERIC_ROUNDABORT OFF 
GO
ALTER DATABASE [Escuela] SET QUOTED_IDENTIFIER OFF 
GO
ALTER DATABASE [Escuela] SET RECURSIVE_TRIGGERS OFF 
GO
ALTER DATABASE [Escuela] SET  DISABLE_BROKER 
GO
ALTER DATABASE [Escuela] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
GO
ALTER DATABASE [Escuela] SET DATE_CORRELATION_OPTIMIZATION OFF 
GO
ALTER DATABASE [Escuela] SET TRUSTWORTHY OFF 
GO
ALTER DATABASE [Escuela] SET ALLOW_SNAPSHOT_ISOLATION OFF 
GO
ALTER DATABASE [Escuela] SET PARAMETERIZATION SIMPLE 
GO
ALTER DATABASE [Escuela] SET READ_COMMITTED_SNAPSHOT OFF 
GO
ALTER DATABASE [Escuela] SET HONOR_BROKER_PRIORITY OFF 
GO
ALTER DATABASE [Escuela] SET RECOVERY SIMPLE 
GO
ALTER DATABASE [Escuela] SET  MULTI_USER 
GO
ALTER DATABASE [Escuela] SET PAGE_VERIFY CHECKSUM  
GO
ALTER DATABASE [Escuela] SET DB_CHAINING OFF 
GO
ALTER DATABASE [Escuela] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
GO
ALTER DATABASE [Escuela] SET TARGET_RECOVERY_TIME = 60 SECONDS 
GO
ALTER DATABASE [Escuela] SET DELAYED_DURABILITY = DISABLED 
GO
ALTER DATABASE [Escuela] SET ACCELERATED_DATABASE_RECOVERY = OFF  
GO
ALTER DATABASE [Escuela] SET QUERY_STORE = OFF
GO

# [dbo].[Alumnos]

In [0]:
USE [Escuela]
GO

In [0]:
/****** Object:  Table [dbo].[Alumnos]    Script Date: 28/9/2024 15:44:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alumnos](
	[MATALU] [int] NOT NULL,
	[APEALU] [varchar](500) NULL,
	[NOMALU] [varchar](500) NULL,
	[DNIALU] [int] NULL,
	[POSALU] [int] NULL,
	[FNAALU] [date] NULL,
	[FEAALU] [datetime] NULL,
	[USUALU] [varchar](50) NULL,
 CONSTRAINT [PK_Alumnos] PRIMARY KEY CLUSTERED 
(
	[MATALU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Asignaturas]

In [0]:
/****** Object:  Table [dbo].[Asignaturas]    Script Date: 28/9/2024 15:44:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asignaturas](
	[CODASI] [int] NOT NULL,
	[NOMASI] [varchar](500) NULL,
 CONSTRAINT [PK_Asignaturas] PRIMARY KEY CLUSTERED 
(
	[CODASI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Ciudades]

In [0]:
/****** Object:  Table [dbo].[Ciudades]    Script Date: 28/9/2024 15:44:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ciudades](
	[POSCIU] [int] NOT NULL,
	[NOMCIU] [varchar](500) NULL,
 CONSTRAINT [PK_Ciudades] PRIMARY KEY CLUSTERED 
(
	[POSCIU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Notas]

In [0]:
/****** Object:  Table [dbo].[Notas]    Script Date: 28/9/2024 15:44:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notas](
	[MATNOT] [int] NOT NULL,
	[ASINOT] [int] NOT NULL,
	[TIPNOT] [int] NOT NULL,
	[FECNOT] [date] NOT NULL,
	[VALNOT] [int] NULL,
 CONSTRAINT [PK_Notas] PRIMARY KEY CLUSTERED 
(
	[MATNOT] ASC,
	[ASINOT] ASC,
	[TIPNOT] ASC,
	[FECNOT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Tipos_Examen]

In [0]:
/****** Object:  Table [dbo].[Tipos_Examen]    Script Date: 28/9/2024 15:44:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipos_Examen](
	[CODTIP] [int] NOT NULL,
	[NOMTIP] [varchar](100) NULL,
 CONSTRAINT [PK_Tipos_Examen] PRIMARY KEY CLUSTERED 
(
	[CODTIP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [DF_Alumnos_FEAALU]

In [0]:
ALTER TABLE [dbo].[Alumnos] ADD  CONSTRAINT [DF_Alumnos_FEAALU]  DEFAULT (getutcdate()) FOR [FEAALU]
GO

# [DF_Alumnos_USUALU]

In [0]:
ALTER TABLE [dbo].[Alumnos] ADD  CONSTRAINT [DF_Alumnos_USUALU]  DEFAULT (suser_sname()) FOR [USUALU]
GO

# [dbo].[DEL_ALUMNO]

In [0]:
/****** Object:  StoredProcedure [dbo].[DEL_ALUMNO]    Script Date: 28/9/2024 15:44:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[DEL_ALUMNO]
@MATALU INT
AS
BEGIN
	DELETE FROM Alumnos
		WHERE MATALU =@MATALU
END
GO

# [dbo].[DEL_ASIGNATURA]

In [0]:
/****** Object:  StoredProcedure [dbo].[DEL_ASIGNATURA]    Script Date: 28/9/2024 15:44:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[DEL_ASIGNATURA]
@CODASI INT
AS
BEGIN
	DELETE FROM Asignaturas
		WHERE CODASI =@CODASI
END
GO

# [dbo].[DEL_CIUDAD]

In [0]:
/****** Object:  StoredProcedure [dbo].[DEL_CIUDAD]    Script Date: 28/9/2024 15:44:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[DEL_CIUDAD]
@POSCIU INT
AS
BEGIN
	DELETE FROM Ciudades
		WHERE POSCIU =@POSCIU
END
GO

# [dbo].[DEL_NOTA]

In [0]:
/****** Object:  StoredProcedure [dbo].[DEL_NOTA]    Script Date: 28/9/2024 15:44:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[DEL_NOTA]
@MATNOT INT,
@ASINOT INT,
@TIPNOT INT,
@FECNOT DATE
AS
BEGIN
	DELETE FROM Notas
		WHERE MATNOT =@MATNOT
		AND
		ASINOT =@ASINOT
		AND
		TIPNOT =@TIPNOT
		AND
		FECNOT =@FECNOT
END
GO

# [dbo].[DEL_TIPO_EXAMEN]

In [0]:
/****** Object:  StoredProcedure [dbo].[DEL_TIPO_EXAMEN]    Script Date: 28/9/2024 15:44:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[DEL_TIPO_EXAMEN]
@CODTIP INT
AS
BEGIN
	DELETE FROM Tipos_Examen
		WHERE CODTIP =@CODTIP
END
GO

# [dbo].[INS_ALUMNO]

In [0]:
/****** Object:  StoredProcedure [dbo].[INS_ALUMNO]    Script Date: 28/9/2024 15:44:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[INS_ALUMNO] 
	@MATALU INT,
	@APEALU VARCHAR(500),
	@NOMALU VARCHAR(500),
	@DNIALU INT,
	@POSALU INT,
	@FNAALU DATE
As
BEGIN
	INSERT INTO Alumnos
	(MATALU, APEALU, NOMALU, DNIALU, POSALU, FNAALU)
	VALUES
	(@MATALU, @APEALU, @NOMALU, @DNIALU, @POSALU, @FNAALU)
END
GO

# [dbo].[INS_ASIGNATURA]

In [0]:
/****** Object:  StoredProcedure [dbo].[INS_ASIGNATURA]    Script Date: 28/9/2024 15:44:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[INS_ASIGNATURA]
@CODASI INT,
@NOMASI VARCHAR(500)
AS
BEGIN
	INSERT INTO Asignaturas
	(CODASI, NOMASI)
	VALUES
	(@CODASI, @NOMASI)
END
GO

# [dbo].[INS_CIUDAD]

In [0]:
/****** Object:  StoredProcedure [dbo].[INS_CIUDAD]    Script Date: 28/9/2024 15:44:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[INS_CIUDAD]
@POSCIU INT,
@NOMCIU VARCHAR(500)
AS
BEGIN
	INSERT INTO Ciudades
	(POSCIU, NOMCIU)
	VALUES
	(@POSCIU, @NOMCIU)
END
GO

# [dbo].[INS_NOTA]

In [0]:
/****** Object:  StoredProcedure [dbo].[INS_NOTA]    Script Date: 28/9/2024 15:44:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[INS_NOTA]
@MATNOT INT,
@ASINOT INT,
@TIPNOT INT,
@FECNOT DATE,
@VALNOT INT
AS
BEGIN
	INSERT INTO Notas
	(MATNOT, ASINOT, TIPNOT, FECNOT, VALNOT)
	VALUES
	(@MATNOT, @ASINOT, @TIPNOT, @FECNOT, @VALNOT)
END
GO

# [dbo].[INS_TIPO_EXAMEN]

In [0]:
/****** Object:  StoredProcedure [dbo].[INS_TIPO_EXAMEN]    Script Date: 28/9/2024 15:44:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[INS_TIPO_EXAMEN]
@CODTIP INT,
@NOMTIP VARCHAR(100)
AS
BEGIN
	INSERT INTO Tipos_Examen
	(CODTIP, NOMTIP)
	VALUES
	(@CODTIP, @NOMTIP)
END
GO

# [dbo].[SEL_ALUMNO]

In [0]:
/****** Object:  StoredProcedure [dbo].[SEL_ALUMNO]    Script Date: 28/9/2024 15:44:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SEL_ALUMNO] 
@MATALU INT
AS
BEGIN
	SELECT * FROM Alumnos
		WHERE MATALU =@MATALU
END
GO

# [dbo].[SEL_ALUMNOS]

In [0]:
/****** Object:  StoredProcedure [dbo].[SEL_ALUMNOS]    Script Date: 28/9/2024 15:44:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SEL_ALUMNOS]

AS
BEGIN
	SELECT * FROM Alumnos
		ORDER BY APEALU, NOMALU
END
GO

# [dbo].[SEL_ALUMNOS_CURSOR]

In [0]:
/****** Object:  StoredProcedure [dbo].[SEL_ALUMNOS_CURSOR]    Script Date: 28/9/2024 15:44:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SEL_ALUMNOS_CURSOR] 
	
AS
BEGIN
	DECLARE cAlumnos CURSOR FOR 
		SELECT MATALU, APEALU, NOMALU
			FROM Alumnos
	DECLARE @MATALU INT
	DECLARE @APEALU VARCHAR(500)
	DECLARE @NOMALU VARCHAR(500)
	OPEN cAlumnos 
	FETCH NEXT INTO @MATALU, @APEALU, @NOMALU
	WHILE @@FETCH_STATUS = 0
		BEGIN
			SELECT @MATALU, @APEALU, @NOMALU
			FETCH NEXT INTO @MATALU, @APEALU, @NOMALU
		END
	CLOSE cAlumnos
	DEALLOCATE cAlumnos
END
GO

# [dbo].[SEL_ASIGNATURA]

In [0]:
/****** Object:  StoredProcedure [dbo].[SEL_ASIGNATURA]    Script Date: 28/9/2024 15:44:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE  [dbo].[SEL_ASIGNATURA]
	@CODASI INT
AS
BEGIN
	SELECT * FROM Asignaturas
		WHERE CODASI =@CODASI
	
END
GO

# [dbo].[SEL_ASIGNATURAS]

In [0]:
/****** Object:  StoredProcedure [dbo].[SEL_ASIGNATURAS]    Script Date: 28/9/2024 15:44:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SEL_ASIGNATURAS]

AS
BEGIN
	SELECT * FROM Asignaturas
		ORDER BY CODASI, NOMASI
END
GO

# [dbo].[SEL_CIUDAD]

In [0]:
/****** Object:  StoredProcedure [dbo].[SEL_CIUDAD]    Script Date: 28/9/2024 15:44:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SEL_CIUDAD]
	@POSCIU INT
AS
BEGIN
	SELECT * FROM Ciudades
		WHERE POSCIU =@POSCIU
END
GO

# [dbo].[SEL_CIUDADES]

In [0]:
/****** Object:  StoredProcedure [dbo].[SEL_CIUDADES]    Script Date: 28/9/2024 15:44:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SEL_CIUDADES]

AS
BEGIN
	SELECT * FROM Ciudades
		ORDER BY POSCIU, NOMCIU
END
GO

# [dbo].[SEL_NOTA]

In [0]:
/****** Object:  StoredProcedure [dbo].[SEL_NOTA]    Script Date: 28/9/2024 15:44:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SEL_NOTA]
@MATNOT INT,
@ASINOT INT,
@TIPNOT INT,
@FECNOT DATE
AS
BEGIN
	SELECT * FROM Notas
		WHERE MATNOT =@MATNOT
		AND
		ASINOT =@ASINOT
		AND
		TIPNOT =@TIPNOT
		AND
		FECNOT =@FECNOT
END
GO

# [dbo].[SEL_NOTAS]

In [0]:
/****** Object:  StoredProcedure [dbo].[SEL_NOTAS]    Script Date: 28/9/2024 15:44:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SEL_NOTAS] 
	
AS
BEGIN
	SELECT * FROM Notas
		ORDER BY MATNOT, ASINOT, TIPNOT, FECNOT, VALNOT
END
GO

# [dbo].[SEL_NOTAS_ALUMNO]

In [0]:
/****** Object:  StoredProcedure [dbo].[SEL_NOTAS_ALUMNO]    Script Date: 28/9/2024 15:44:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SEL_NOTAS_ALUMNO]
@MATNOT INT
AS
BEGIN
	SELECT FECNOT, NOMASI, NOMTIP, VALNOT
		FROM Notas, Asignaturas, Tipos_Examen
		WHERE ASINOT = CODASI
		AND 
		TIPNOT = CODTIP
		AND
		MATNOT =@MATNOT
		ORDER BY FECNOT
END
GO

# [dbo].[SEL_NOTAS_PROMEDIO]

In [0]:
/****** Object:  StoredProcedure [dbo].[SEL_NOTAS_PROMEDIO]    Script Date: 28/9/2024 15:44:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SEL_NOTAS_PROMEDIO]
@MATNOT INT
AS
BEGIN
	SELECT AVG(VALNOT) PROMEDIO, 
		   MIN(VALNOT) MINIMO,
		   MAX(VALNOT) MAXIMO
		FROM Notas
		WHERE MATNOT =@MATNOT
END
GO

# [dbo].[SEL_TIPO_EXAMEN]

In [0]:
/****** Object:  StoredProcedure [dbo].[SEL_TIPO_EXAMEN]    Script Date: 28/9/2024 15:44:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SEL_TIPO_EXAMEN]
	@CODTIP INT
AS
BEGIN
	SELECT * FROM Tipos_Examen
		WHERE CODTIP =@CODTIP
END
GO

# [dbo].[SEL_TIPOS_EXAMEN]

In [0]:
/****** Object:  StoredProcedure [dbo].[SEL_TIPOS_EXAMEN]    Script Date: 28/9/2024 15:44:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SEL_TIPOS_EXAMEN]

AS
BEGIN
	SELECT * FROM Tipos_Examen
		ORDER BY CODTIP, NOMTIP
END
GO

# [dbo].[UPD_ALUMNO]

In [0]:
/****** Object:  StoredProcedure [dbo].[UPD_ALUMNO]    Script Date: 28/9/2024 15:44:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[UPD_ALUMNO]
@MATALU INT,
@APEALU VARCHAR(500),
@NOMALU VARCHAR(500),
@DNIALU INT,
@POSALU INT,
@FNAALU DATE
AS
BEGIN
	UPDATE Alumnos
		SET APEALU =@APEALU, NOMALU =@NOMALU, DNIALU =@DNIALU, POSALU =@POSALU, FNAALU =@FNAALU
		WHERE MATALU =@MATALU
END
GO

# [dbo].[UPD_ASIGNATURA]

In [0]:
/****** Object:  StoredProcedure [dbo].[UPD_ASIGNATURA]    Script Date: 28/9/2024 15:44:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[UPD_ASIGNATURA]
@CODASI INT,
@NOMASI VARCHAR(500)
AS
BEGIN
	UPDATE Asignaturas
		SET NOMASI =@NOMASI
		WHERE CODASI =@CODASI
END
GO

# [dbo].[UPD_CIUDAD]

In [0]:
/****** Object:  StoredProcedure [dbo].[UPD_CIUDAD]    Script Date: 28/9/2024 15:44:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[UPD_CIUDAD]
@POSCIU INT,
@NOMCIU VARCHAR(500)
AS
BEGIN
	UPDATE Ciudades
		SET NOMCIU =@NOMCIU
		WHERE POSCIU =@POSCIU
END
GO

# [dbo].[UPD_NOTA]

In [0]:
/****** Object:  StoredProcedure [dbo].[UPD_NOTA]    Script Date: 28/9/2024 15:44:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[UPD_NOTA]
@MATNOT INT,
@ASINOT INT,
@TIPNOT INT,
@FECNOT DATE,
@VALNOT INT
AS
BEGIN
	UPDATE Notas
		SET VALNOT =@VALNOT
		WHERE MATNOT =@MATNOT
		AND
		ASINOT =@ASINOT
		AND
		TIPNOT =@TIPNOT
		AND
		FECNOT =@FECNOT
END
GO

# [dbo].[UPD_TIPO_EXAMEN]

In [0]:
/****** Object:  StoredProcedure [dbo].[UPD_TIPO_EXAMEN]    Script Date: 28/9/2024 15:44:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[UPD_TIPO_EXAMEN]
@CODTIP INT,
@NOMTIP VARCHAR(100)
AS
BEGIN
	UPDATE Tipos_Examen
		SET NOMTIP =@NOMTIP
		WHERE CODTIP =@CODTIP
END
GO

# [Escuela]

In [0]:
USE [master]
GO

In [0]:
ALTER DATABASE [Escuela] SET  READ_WRITE 
GO